* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
/* Taille du conteneur d'étoiles dans le body */
#starField {
    height: 100%;
    width: 100%;
    background-color: black;
}
/* Style des étoiles */
.star {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 10px white;
    width: 2px;
    height: 2px;
    /* Effet de scintillement */
    transition: opacity 0.5s ease-in-out;
}
/* Style de la partie main */
main {
    min-height: 100vh;
}
/* Style du header principal */
#mainHeader {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
/* Style de la barre de nav */
nav:nth-of-type(2) {
    min-width: 70%;
}
/* Balise englobante de nav */
nav:nth-of-type(2) ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 8%;
}
/* Chaque puce de la liste NO */
nav:nth-of-type(2) ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 25%;
    padding: 0 4%;
}
/* Liens */
nav:nth-of-type(2) ul a {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
}
nav:nth-of-type(2) li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
nav:nth-of-type(2) a:hover {
    text-decoration: underline #ffff669c;
    text-underline-offset: 1rem;
}
/* Menu burger */
nav:nth-of-type(1) {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-burger {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.menu-burger-lines {
    width: 100%;
    height: 3px;
    background-color: white;
}
.menu-nav {
    width: 120px;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.menu-nav.active {
    visibility: visible;
    opacity: 1;
}
.menu-nav li {
    flex: 1;
    text-align: center;
}
.menu-nav a {
    width: 100%;
    display: block;
    padding: 20px 0;
    color: #f7f7f7;
    text-decoration: none;
}
.menu-nav li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.menu-nav a:hover {
    text-decoration: underline #ffff669c;
    text-underline-offset: 1rem;
}

.header_links {
    min-width: 150px;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_links a {
    padding: 0 4%;
}
.header_links p {
    color: white;
    padding: 0 4%;
}
/* Menu burger */
/* Animation pour faire apparaître le contenu de présentation */
#welcome {
    max-width: 800px;
    min-width: 340px;
    margin: 0 auto;
    padding-top: 6%;
    /* Apparition */
    animation: text-focus-in 24s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
}
h1 {
    font-weight: 700;
    font-size: 2.4em;
}
h1 > span {
    font-weight: 200;
}
/* Contenu de présentation */
.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style de la photo */
.profil_photo img {
    max-height: 200px;
    width: auto;
    filter: drop-shadow(0px 0px 8px rgba(54, 255, 4, 0.62));
}
/* Style du titre h1 */
.profil_title {
    text-align: center;
    color: #f7f7f7;
}
/* Style du paragraphe de 300 mots */
.fixed_content {
    color: white;
    margin-top: 10%;
}
.fixed_content h2 {
    font-weight: 700;
    font-size: 2em;
    margin: 3% 0;
}
.fixed_content p {
    font-weight: 400;
    font-size: 1em;
}
/* Style de la partie informations */
#informations {
    height: 20vh;
    color: white;
    display: flex;
    align-items: start;
}
#informations div {
    display: flex;
    width: 60%;
    margin: 2% 0;
    padding: 1%;
}
#informations div:hover {
    cursor: pointer;
    /* text-shadow: 0 0 2px #ffff66; */
}
#informations div i {
    font-size: 2em;
}
#informations div h3 {
    margin-left: 2%;
/* Effet de soulignement progressif */
    background: linear-gradient(to top, rgba(54, 255, 4, 0.62) 0%, rgba(54, 255, 4, 0.62) 10%, transparent 10.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size .8s;
}
#informations div h3:hover {
    /* text-decoration: underline rgba(54, 255, 4, 0.62);
    text-underline-offset: 0.4em; */
/* Effet de soulignement progressif */
    background-size: 100% 100%;
}
/* Texte défilant */
.a-long-time-ago {
    position: absolute;
    top: 40vh;
    left: 30vw;
    text-align: center;
    font-size: 60px;
    color: #4bd5ee;
    /* Animation */
    /* Apparition et disparition progressive */
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: a-long-time-ago;
    animation-timing-function: ease-out;
}
@keyframes a-long-time-ago {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.crawl {
    /* centrage de l'élément' */
    position: absolute;
    left: 10%;
    width: 80vw;
    bottom: 0;
    height: 40em;
    /* cosmétique */
    color: #ffff66;    
    font-size: 64px;
    text-align: justify;
    /* Applique la transformation  */
    transform-origin: center bottom;
    transform: perspective(400px) rotateX(25deg);
}
.crawl > div {
    /* positionne la div en bas de l'écran (non visible) */
    /* l'animation la fait remonter progressivement */
    position: absolute;
    opacity: 0;
    animation-delay: 3s; /* Démarre l'animation après la première */
    animation-duration: 20s; /* 20s */
    animation-name: crawl;
    animation-timing-function: linear;
}
@keyframes crawl {
    0% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1; /* disparition progressive à la fin */
    }

    100% {
        top: 0;
        opacity: 0;
    }
}
/* Fenêtre modale */
.modal-container {
    /* Cacher la modale */
    display: none;
    /* Position de la modale */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3
}
/* Contenu de la modale */
.modal {
    background-color: rgba(26, 26, 26, 0.9);
    border: 1px solid white;
    height: 90%;
    width: 90%;
    border-radius: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
/* Bouton pour fermer la modale */
.close-modal {
    align-self: end;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 50%;
    background-color: red;
    color: red;
}
.close-modal:hover {
    background-color: rgb(67, 67, 67);
}
/* Fenêtre modale Compétences */
.contentExp {
    width: 100%;
}
.contentExp h2 {
    color: #fff;
    text-shadow: 0 0 2px #ffff66;
    text-transform: uppercase;
    padding: 4%;
    font-size: 2em;
    text-align: center;
}
/* Partie contenant les compétences techniques */
.itemsExp {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3em;
    align-items: center;
    justify-items: center;
}
.itemsExp div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 140px;
    width: 140px;
    border-radius: 2px;
}
/* Noms des technologies */
.itemsExp h3 {
    margin-top: 8%;
    color: #000;
}
/* Taille des icones */
.itemsExp i {
    font-size: 4em;
}
.itemsExp div:nth-of-type(1) i {
    color: #E24E30;
}
.itemsExp div:nth-of-type(2) i {
    color: #2952DE;
}
.itemsExp div:nth-of-type(3) i {
    color: #F6DC3A;
}
.itemsExp div:nth-of-type(4) i {
    color: #777CB1;
}
.itemsExp div:nth-of-type(5) i {
    color: #000;
}
.itemsExp div:nth-of-type(6) i {
    color: #1F89C4;
}
/* Styles communs aux sections */
section > h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding-top: 6%;
}
.btn-home {
    color: white;
    font-size: 4rem;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Section EXP */
#tech {
    height: 100vh;
}
.exp-tech__list {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 4% 0;
}
.exp-tech__list div {
    width: 6rem;
    height: 6rem;
}
.exp-tech__list div > h3 {
    color: white;
}
.exp-tech__list div > i {
    color: white;
}
/* Section projects */
#projects {
    height: 100vh;
    background-color: #1F89C4;
}
/* Section contact */
#contact {
    height: 100vh;
    background-color: #F6DC3A;
    position: relative;
}
/* Footer */
footer {
    height: 50px;
    background-color: #ffff669c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer h2 {
    font-size: 1em;
}
/* exp.html */
/* section {
    width: 60%;
    margin: 0 auto;
    color: white;
}
section > h1 {
    margin-top: 8%;
    color: white;
    font-size: 2em;
    text-transform: uppercase;
}
section > div {
    margin-top: 5%;
} */
/* Desktop & Labptop */
/* Laptop large */
/* @media(max-width: 1440px) {

} */
/* Laptop */
@media(max-width: 1024px) {

}
/* Tablet */
@media(max-width: 768px) {
    /* Position de la photo et du h1 */
    .profil {
        flex-direction: column;
    }
    .menu-burger {
        visibility: visible;
    }
    nav:nth-of-type(2) {
        display: none;
    }
}
/* Smartphone */
@media(max-width: 650px) {

}