* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* Ajout des polices */
}
/* Taille du conteneur d'étoiles dans le body */
#starField {
    height: 100%;
    width: 100%;
    background-color: black;
}
/* Style des étoiles */
.star {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 10px white;
    width: 2px;
    height: 2px;
    /* Effet de scintillement */
    transition: opacity 0.5s ease-in-out;
}
/* Style de la partie main */
main {
    min-height: 100vh;
}
/* Style du header principal */
#mainHeader {
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
}
/* Style de la barre de nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 8%;
}
nav a {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 2%;
}
nav a:hover {
    color: yellow;
    text-shadow: 0 0 20px white;
}
.header_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 8%;
}
.header_links img {
    padding: 0 4%;
}
.header_links p {
    color: white;
    padding: 0 4%;
}
/* Menu burger */
/* Animation pour faire apparaître le contenu de présentation */
#welcome {
    width: 50%;
    margin: 10% auto;
    /* Apparition */
    animation: text-focus-in 24s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
}
/* Contenu de présentation */
.profil {
    display: flex;
    align-items: center;
}
/* Style de la photo */
.profil_photo img {
    max-height: 200px;
    width: auto;
    filter: drop-shadow(0px 0px 8px rgba(54, 255, 4, 0.62));
}
/* Style du titre h1 */
.profil_title {
    text-align: center;
    color: #f7f7f7;
    margin-left: 10%;
}
/* Style du paragraphe de 300 mots */
.fixed_content {
    color: white;
    margin-top: 10%;
}
/* Texte défilant */
.a-long-time-ago {
    position: absolute;
    top: 30vh;
    left: 8vw;
    text-align: center;
    font-size: 60px;
    color: #4bd5ee;
    /* Animation */
    /* Apparition et disparition progressive */
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: a-long-time-ago;
    animation-timing-function: ease-out;
}
@keyframes a-long-time-ago {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.crawl {
    /* centrage de l'élément' */
    position: absolute;
    left: 10%;
    width: 80vw;
    bottom: 0;
    height: 50em;
    /* cosmétique */
    color: #ffff66;    
    font-size: 64px;
    text-align: justify;
    /* Applique la transformation  */
    transform-origin: center bottom;
    transform: perspective(400px) rotateX(25deg);
}
.crawl > div {
    /* positionne la div en bas de l'écran (non visible) */
    /* l'animation la fait remonter progressivement */
    position: absolute;
    opacity: 0;
    animation-delay: 3s; /* Démarre l'animation après la première */
    animation-duration: 20s;
    animation-name: crawl;
    animation-timing-function: linear;
}
@keyframes crawl {
    0% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1; /* disparition progressive à la fin */
    }

    100% {
        top: 0;
        opacity: 0;
    }
}
/* Partie détails */
#details {
    min-height: 100vh;
    background-image: url(./img/fond-stars.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
/* Style des 2 boutons */
.button_bar {
    color: white;
    display: flex;
    justify-content: space-between;
}
.button_bar div {
    display: flex;
    align-items: center;
    padding: 4%;
    opacity: 0.6;
}
/* Style des textes */
.button_bar h2 {
    text-transform: uppercase;
}
.button_bar div:first-child h2 {
    margin-left: 2%;
}
.button_bar div:last-child h2 {
    margin-right: 2%;
}
/* Style des icones */
.fa-solid, .fa-arrow-down {
    color: white;
    border-radius: 50%;
    font-size: 4rem;
    text-shadow: 0 0 10px white;
}
/* Style des icones au survol */
.fa-solid:hover, .fa-arrow-down:hover {
    text-shadow: 0 0 30px rgba(250, 4, 255, 1);
}

/* Footer */
footer {
    height: 50px;
    background-color: #ffff66;
}
/* Desktop & Labptop */
/* Laptop large */
@media(max-width: 1440px) {

}
/* Laptop */
@media(max-width: 1024px) {

}
/* Tablet */
@media(max-width: 768px) {

}
/* Smartphone */
@media(max-width: 650px) {

}