body {
    margin: 0;
    padding: 0;
}
/* Taille du conteneur d'étoiles */
#starfield {
    height: 100vh;
    width: 100%;
    background-color: black;
}
/* Style des étoiles */
.star {
    position: relative;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 10px white;
    width: 2px;
    height: 2px;
    /* Effet de scintillement */
    transition: opacity 0.5s ease-in-out;
}
header {
    color: white;
    height: 200px;
    background-color: aqua;
    display: flex;
}
/* Fenêtre modale */
.modal-container {
    /* Cacher la modale */
    display: none;
    /* Position de la modale */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3
}
.modal-trigger {

}
.modal {
    height: 90%;
    width: 90%;
    border-radius: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 2%;
}
/* Bouton pour fermer la modale */
.close-modal {
    padding: 2% 4%;
    font-size: 1em;
    cursor: pointer;
    background-color: #ff365e;
    color: #fff;

}