body {
    margin: 0;
    padding: 0;
}
/* Taille du conteneur d'étoiles */
#starfield {
    height: 100vh;
    width: 100%;
    background-color: black;
}
/* Style des étoiles */
.star {
    position: relative;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 10px white;
    width: 2px;
    height: 2px;
    /* Effet de scintillement */
    transition: opacity 0.5s ease-in-out;
}
header {
    color: white;
    height: 200px;
    background-color: aqua;
    display: flex;
}