/* Section contact */
#contact {
    height: 100vh;
    background-color: #000000;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    min-height: 400px;
    min-width: 400px;
}

.terminal {
    margin-top: 2%;
    min-height: 400px;
    min-width: 400px;
    border: white solid 1px;
    border-radius: 2%;
}

.terminal__content {
    padding: 1%;
    color: white;
}

/* Footer */
footer {
    height: 50px;
    background-color: #ffff669c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    font-size: 1em;
}

