footer {
    margin-top: 2vh;
    padding: 2%;
    height: 5vh;
    /* border: 1px solid var(--light-grey); */
    /* border-radius: 10px; */

    color: var(--text-grey_light);
    font-size: small;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#legals {
    text-decoration: none;
    color: var(--text-grey_light);
}

.footer__hover-item {
    position: relative;
    display: inline-block;  
    cursor: default;
}

.footer-popup {
    display: none;
    position: absolute;
    width: 200px;
    padding: 10px;
    background: var(--light-grey);

    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
    bottom: 100%; /* Position above the hover-item */
    left: 50%;
    transform: translateX(-50%);

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-popup > a {
    text-decoration: none;
    color: var(--text-black);
    padding: 1%;
}

.footer-popup > a:hover {
    color: var(--text-grey_light);
}