/* Animation pour faire apparaître le contenu de présentation */
#welcome {
    padding-top: 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;    
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Animation d'apparition */
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
}

h1 {
    font-weight: 700;
    font-size: 2.4em;
}

h1 > span {
    font-weight: 200;
}

/* Contenu de présentation */
.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style de la photo */
.profil_photo img {
    max-height: 200px;
    width: auto;
    filter: drop-shadow(0px 0px 8px rgba(54, 255, 4, 0.62));
}

/* Style du titre h1 */
.profil_title {
    text-align: center;
    color: var(--light-grey);
}

/* Style du paragraphe de 300 mots */
.fixed_content {
    color: white;
    margin-top: 10%;
}

.fixed_content h2 {
    font-weight: 700;
    font-size: 2em;
    margin: 3% 0;
}

.fixed_content p {
    padding-top: 2%;
    font-weight: 400;
    font-size: 1em;
}

/* Style de la partie informations */
#informations {
    height: 20vh;
    color: white;
    display: flex;
    align-items: start;
}

#informations div {
    display: flex;
    width: 60%;
    margin: 5% 0;
    padding: 1%;
}

#informations div:hover {
    cursor: pointer;
    /* text-shadow: 0 0 2px #ffff66; */
}

#informations div i {
    font-size: 2em;
}

#informations div h3 {
    margin-left: 2%;
/* Effet de soulignement progressif */
    background: linear-gradient(to top, rgba(54, 255, 4, 0.62) 0%, rgba(54, 255, 4, 0.62) 10%, transparent 10.01%) no-repeat;
    background-size: 0 100%;
    transition: background-size .8s;
}

#informations div h3:hover {
    /* text-decoration: underline rgba(54, 255, 4, 0.62);
    text-underline-offset: 0.4em; */
    /* Effet de soulignement progressif */  
    background-size: 100% 100%;
}

/* Texte défilant */
.a-long-time-ago {
    position: absolute;
    top: 40vh;
    left: 30vw;
    text-align: center;
    font-size: 60px;
    color: #4bd5ee;
    /* Animation */
    /* Apparition et disparition progressive */
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-name: a-long-time-ago;
    animation-timing-function: ease-out;
}

@keyframes a-long-time-ago {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.crawl {
    /* centrage de l'élément' */
    position: absolute;
    left: 10%;
    width: 80vw;
    bottom: 0;
    height: 40em;
    /* cosmétique */
    color: #ffff66;    
    font-size: 64px;
    text-align: justify;
    /* Applique la transformation  */
    transform-origin: center bottom;
    transform: perspective(400px) rotateX(25deg);
}

.crawl > div {
    /* positionne la div en bas de l'écran (non visible) */
    /* l'animation la fait remonter progressivement */
    position: absolute;
    opacity: 0;
    animation-delay: 3s; /* Démarre l'animation après la première */
    animation-duration: 20s; /* 20s */
    animation-name: crawl;
    animation-timing-function: linear;
}

@keyframes crawl {
    0% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1; /* disparition progressive à la fin */
    }

    100% {
        top: 0;
        opacity: 0;
    }
}

/* Fenêtre modale */
/* .modal-container { */
    /* Cacher la modale */
    /* display: none; */
    /* Position de la modale */
    /* position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
} */

/* .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3
} */

/* Contenu de la modale */
/* .modal {
    background-color: rgba(26, 26, 26, 0.9);
    border: 1px solid white;
    height: 90%;
    width: 90%;
    border-radius: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
} */

/* Bouton pour fermer la modale */
/* .close-modal {
    align-self: end;
    font-size: 1.4em;
    cursor: pointer;
    border-radius: 50%;
    background-color: red;
    color: red;
} */

/* .close-modal:hover {
    background-color: rgb(67, 67, 67);
} */

