#realisations {
    /* min-height: 100vh; */
    width: 90%;
    margin: 0 auto;
}

.article-item {
    padding: 10%;
    background-color: var(--bg-article);
    margin: 5% 0;
    transform: scale(1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    font-size: small;
    text-transform: uppercase;
    background-color: var(--light-grey);
    padding: 1% 2%;
    margin: 1%;
    border-radius: 4px;
}

.article-item > h4 {
    color: var(--text-grey_light);
    font-size: x-large;
    margin-top: 3%;
}

.article-item > p {
    margin-top: 2%;
    color: var(--text-white);
    font-size: small;
    font-weight: 300;
}

.article-item__links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

.article-item__links a {
    margin: 5% 0;
    margin-right: 10%;

    color: var(--text-grey_light);
    text-decoration: none;

    display: flex;
    align-items: center;
}

.article-item__links a > p {
    margin-left: 8%;
    font-size: small;

}