/* Laptop large */
@media(max-width: 1440px) {

}

/* Laptop */
@media(max-width: 1024px) {

    .container {
        flex-direction: column;
        height: 100vh;
    }

    #sidebar {
        width: 100%;
    }

    #sidebar-nav {
        display: none;
    }

    #content {
        overflow-y: visible;
    }

}
/* Tablet */
@media(max-width: 768px) {

}
/* Smartphone */
@media(max-width: 425px) {

}