
/* Smartphone */
@media(min-width: 425px) {
    #infos {
        flex-direction: row;
    }
    #infos img {
        margin-right: 5%;
    }
    #infos a:first-of-type {
        margin-right: 5%;
    }
}

/* Tablet */
@media(min-width: 768px) {

}

/* Laptop */
@media(min-width: 1024px) {

    .container {
        display: flex;
    }

    #sidebar {
        max-height: 100vh;
        width: 50%;
        margin: 0;
        padding: 2% 0 2% 2%;
    }

    /* #sidebar p {
    font-size: medium;
    } */

    #sidebar-nav {
        display: flex;
    }

    #content {
        overflow-y: scroll;
        height: 100vh;
    }

    #sticky-header {
        display: none;
    }

    #realisations {
        min-height: 100vh;
        padding-top: 2%;
    }
    .article-item {
        padding: 7%;
        margin: 3% 0;
    }

    .article-item:hover {
        transform: scale(1.07);
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    .article-item__links a {
        margin: 0;
        margin-right: 10%;

    }

    #skills {
        min-height: 100vh;
        padding-top: 0;
    }

    .skills-container {
        justify-content: start;
    }

    .skills-item {
        margin: 1%;
    }

    #contact {
        min-height: 100vh;
        padding-top: 0;
    }
}

/* Laptop large */
@media(min-width: 1440px) {
    .container {
        width: 1440px;
        margin: 0 auto;
    }

    #sidebar {
        padding: 5%;
    }

    #realisations {
        padding-top: 5%;
    }
}