#sidebar {
    width: 90%;
    margin: 5% auto;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#sidebar div:first-of-type {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
}

h2 {
    color: var(--text-grey_light);
    font-family: 'Roboto Mono', monospace;
    font-size: x-large;
    margin-top: 5%;
}

#sidebar p {
    font-size: medium;
    font-weight: 200;
}

#sidebar div:first-of-type > p:first-of-type {
    margin-top: 5%;
}

#sidebar div:first-of-type > p:last-of-type {
    margin-top: 3%;
}

#sidebar a {
    color: var(--text-white);
    text-decoration: none;
}

/* Menu nav */
#sidebar-nav {
    padding-top: 5%;
}

#sidebar-nav ul {
    list-style-type: none;
}

#sidebar-nav li {
    margin: 16px 10px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    font-size: medium;
}

#sidebar-nav a > p {
    font-weight: 400;
    font-size: large;
}

.bar {
    margin: 0 15px;
    width: 20px;
    height: 2px;
    background-color: var(--text-white);
    transition: width 0.3s ease-in-out;
}

/* Partie coordonnées */
#sidebar > div:last-of-type {
    margin-top: 7%;
    display: flex;
    align-items: center;
}

#sidebar > div img {
    height: 60px;
    width: 60px;
    margin-right: 30px;
}

#sidebar > div a {
    display: flex;
    align-items: center;
}

#sidebar > div a:first-of-type {
    margin-right: 5%;
}

#sidebar > div:last-of-type p {
    font-size: 16px;
}

#sidebar div i:first-of-type {
    margin-right: 16px;
}

#sidebar div i:last-of-type {
    margin-left: 10px;
}