#sidebar {
    padding: 5%;
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#sidebar div:first-of-type {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

h2 {
    color: var(--text-grey_light);
    font-family: 'Roboto Mono', monospace;
    font-size: large;
    margin-top: 5%;
}

#sidebar p {
    font-size: medium;
    font-weight: 200;
}

#sidebar div:first-of-type > p:first-of-type {
    margin-top: 5%;
}

#sidebar div:first-of-type > p:last-of-type {
    margin-top: 3%;
}

#sidebar a {
    color: var(--text-white);
    text-decoration: none;
    display: flex;
    align-items: center;
}

#infos a:first-of-type {
    margin-right: 5%;
}

/* Menu nav */
#sidebar-nav {
    display: none;
}

#sidebar-nav ul {
    list-style-type: none;
}

#sidebar-nav li {
    margin: 16px 10px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

    font-size: medium;
}

#sidebar-nav a > p {
    font-weight: 400;
    font-size: large;
}

.bar {
    margin: 0 15px;
    width: 20px;
    height: 2px;
    background-color: var(--text-white);
    transition: width 0.3s ease-in-out;
}

/* Partie coordonnées */
#infos {
    margin-top: 5%;
    display: flex;
    align-items: center;
}

#infos img {
    height: 60px;
    width: 60px;
    margin-right: 5%;
}

#infos a {
    padding: 2%;
}

#infos p {
    font-size: small;
    margin: 0 5%;
}

#sidebar div i:last-of-type {
    margin-left: 2%;
}