#skills {
    /* min-height: 100vh; */
    /* padding: 4%; */
    width: 90%;
    margin: 0 auto;
    padding-top: 15%;

}

#skills > h4 {
    color: var(--text-white);
}

.skills-content {
    padding: 4% 0;
    text-transform: uppercase;
}

.skills-content > h4 {
    color: var(--text-white);
    font-size: x-large;
}

.skills-container {
    padding: 3%;
    margin-bottom: 3%;

    /* display: grid;
    grid-template-columns: 1fr 1fr; */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-item {    
    min-width: 100px;
    margin: 4%;
    color: var(--text-grey_light);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills-item > .icon-container {
    border: 1px solid var(--text-grey_light);
    border-radius: 50%;

    height: 80px;
    width: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-item i {
    color: var(--text-white);
    font-size: 2em;
}

.skills-item img {
    max-width: 100%;
    height: auto;
}

h5 {
    font-family: var(--links);
    font-size: medium;
    margin-top: 10%;
}

/* Logo HTML */
.item-html:hover .icon-container {
    border: 1px solid var(--html);
}
.item-html:hover i {
    color: var(--html);
}
.item-html:hover .skills-title {
    color: var(--html);
}

/* Logo CSS */
.item-css:hover .icon-container {
    border: 1px solid var(--css);
}
.item-css:hover i {
    color: var(--css);
}
.item-css:hover .skills-title {
    color: var(--css);
}

/* Logo JavaScript */
.item-javascript:hover .icon-container {
    border: 1px solid var(--javascript);
}
.item-javascript:hover i {
    color: var(--javascript);
}
.item-javascript:hover .skills-title {
    color: var(--javascript);
}

/* Logo Vue */
.item-vue:hover .icon-container {
    border: 1px solid var(--vue);
}
.item-vue:hover i {
    color: var(--vue);
}
.item-vue:hover .skills-title {
    color: var(--vue);
}

/* Logo Tailwind */
.item-tailwind:hover .icon-container {
    border: 1px solid var(--tailwind);
}
.item-tailwind:hover i {
    color: var(--tailwind);
}
.item-tailwind:hover .skills-title {
    color: var(--tailwind);
}

/* Changement de logo (png) */
.logo-tailwind {
    display: none;
}
.item-tailwind:hover .logo-tailwind {
    display: flex;
}
.item-tailwind:hover .logo-tailwind_white {
    display: none;
}

/* Logo Bootstrap */
.item-bootstrap:hover .icon-container {
    border: 1px solid var(--bootstrap);
}
.item-bootstrap:hover i {
    color: var(--bootstrap);
}
.item-bootstrap:hover .skills-title {
    color: var(--bootstrap);
}

/* Logo Markdown */
.item-markdown:hover .icon-container {
    border: 1px solid var(--markdown);
}
.item-markdown:hover i {
    color: var(--markdown);
}
.item-markdown:hover .skills-title {
    color: var(--markdown);
}

/* Logo Php */
.item-php:hover .icon-container {
    border: 1px solid var(--php);
}
.item-php:hover i {
    color: var(--php);
}
.item-php:hover .skills-title {
    color: var(--php);
}

/* Logo node */
.item-node:hover .icon-container {
    border: 1px solid var(--node);
}
.item-node:hover i {
    color: var(--node);
}
.item-node:hover .skills-title {
    color: var(--node);
}

/* Logo express */
.item-express:hover .icon-container {
    border: 1px solid var(--express);
}
.item-express:hover i {
    color: var(--express);
}
.item-express:hover .skills-title {
    color: var(--express);
}

/* Logo wordpress */
.item-wordpress:hover .icon-container {
    border: 1px solid var(--wordpress);
}
.item-wordpress:hover i {
    color: var(--wordpress);
}
.item-wordpress:hover .skills-title {
    color: var(--wordpress);
}

/* Logo mysql */
.item-mysql:hover .icon-container {
    border: 1px solid var(--mysql);
}
.item-mysql:hover i {
    color: var(--mysql);
}
.item-mysql:hover .skills-title {
    color: var(--mysql);
}

/* Changement de logo (png) */
.logo-mysql {
    display: none;
}
.item-mysql:hover .logo-mysql {
    display: flex;
}
.item-mysql:hover .logo-mysql_white {
    display: none;
}

/* Logo nosql */
.item-nosql:hover .icon-container {
    border: 1px solid var(--nosql);
}
/* .item-nosql:hover i {
    color: var(--nosql);
} */
.item-nosql:hover .skills-title {
    color: var(--nosql);
}

/* Logo firebase */
.item-firebase:hover .icon-container {
    border: 1px solid var(--firebase);
}
.item-firebase:hover i {
    color: var(--firebase);
}
.item-firebase:hover .skills-title {
    color: var(--firebase);
}

/* Changement de logo (png) */
.logo-firebase {
    display: none;
}
.item-firebase:hover .logo-firebase {
    display: flex;
}
.item-firebase:hover .logo-firebase_white {
    display: none;
}

/* Logo figma */
.item-figma:hover .icon-container {
    border: 1px solid var(--figma);
}
.item-figma:hover i {
    color: var(--figma);
}
.item-figma:hover .skills-title {
    color: var(--figma);
}

/* Logo photoshop */
.item-photoshop:hover .icon-container {
    border: 1px solid var(--photoshop);
}
.item-photoshop:hover i {
    color: var(--photoshop);
}
.item-photoshop:hover .skills-title {
    color: var(--photoshop);
}

/* Changement de logo (png) */
.logo-photoshop {
    display: none;
}
.item-photoshop:hover .logo-photoshop {
    display: flex;
}
.item-photoshop:hover .logo-photoshop_white {
    display: none;
}

/* Logo illustrator */
.item-illustrator:hover .icon-container {
    border: 1px solid var(--illustrator);
}
.item-illustrator:hover i {
    color: var(--illustrator);
}
.item-illustrator:hover .skills-title {
    color: var(--illustrator);
}

/* Changement de logo illustrator */
.logo-illustrator {
    display: none;
}
.item-illustrator:hover .logo-illustrator {
    display: flex;
}
.item-illustrator:hover .logo-illustrator_white {
    display: none;
}

/* Logo indesign */
.item-indesign:hover .icon-container {
    border: 1px solid var(--indesign);
}
.item-indesign:hover i {
    color: var(--indesign);
}
.item-indesign:hover .skills-title {
    color: var(--indesign);
}

/* Changement de logo (png) */
.logo-indesign {
    display: none;
}
.item-indesign:hover .logo-indesign {
    display: flex;
}
.item-indesign:hover .logo-indesign_white {
    display: none;
}